.car-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0;
    list-style: none;
    gap: 15px;
}

.car-list li {
    display: flex;
    flex-direction: column;
    background-color: var(--clr1bg);
}

.car-list li .actions {
    display: flex;
    margin-block-start: auto;
}